body{
    margin: 0;
    background-color: #91342D;
}

.content{
    height: 10vh;
    width: 100%;
    background: #91342D;
    display: flex;
    justify-content: center;
}

.content2{
    height: 50vh;
    width: 100%;
    background: #91342D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsection{
    display: flex;
    max-width: 60vw;
    justify-content: space-around;
    height: 7vh;
    margin-top: 3%;
    width: 60vw
}

.my-photo {
    width: 100%;
    margin: 0%;
    background-attachment: fixed;
}

.my-container{
    display: flex;
    background: white;
    justify-content: space-between;
}

.my-logo {
    height: 15vh;
    width: 15vh;
    margin-left: 5%;
}

.best_time{
    margin-right: 5%;
    text-align: center;
}

.best_time p{
    margin: 0;
    margin-top: 5%;
}


#best_time{
    background: black;
    color: white;
}

.my-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.my-img{
    height: 75vh;
    max-width: 90%;
    margin-top: 10%;
}

.my-image p{
    height: 4vh;
    margin: 0;
    position: relative;
    bottom: 28%;
    font-size: 1.3em;
}